body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a#red {
  color: lightcoral;
}

a#green {
  color: lightgreen;
}

a#blue {
  color: lightblue;
}

a#yellow {
  color: lightyellow;
}